/* Rectangle 9 */

box-sizing: border-box;

position: absolute;
width: 461px;
height: 381px;
left: 540px;
top: 335px;

background: #FFFFFF;
backdrop-filter: blur(10.1px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 55px;
