/* Rectangle 3 */

box-sizing: border-box;

position: absolute;
width: 220px;
height: 37px;
left: calc(50% - 220px/2 + 4px);
top: 494px;

background: linear-gradient(0deg, rgba(115, 178, 93, 0.4), rgba(115, 178, 93, 0.4)), linear-gradient(117.77deg, rgba(255, 255, 255, 0.4) 13.71%, rgba(255, 255, 255, 0.1) 87.82%);
box-shadow: 0px 4px 24px -1px rgba(0, 0, 0, 0.2);
backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 15px;




/* 42 Login */

position: absolute;
width: 72px;
height: 20px;
left: calc(50% - 72px/2);
top: calc(50% - 20px/2 + 1px);

font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

color: #FFFFFF;

mix-blend-mode: overlay;

/* 글자 오버레이
  42 login 버튼 그라데이션
  border 그라데이션
  폰트 변경하기
*/