<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link href="./styles/home.css" rel="stylesheet">
  <style>
		@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Sunflower:wght@300&display=swap');
	</style>
</head>
<body>
  <div class="wrapper">
    <div class="wrapper__news">
      <div class="news__title">
        <div class="news__title__main">Updated News</div>
        <div class="news__title__sub">today story 💌</div>
    </div>
      <div class="news__divider"></div>
      <div class="news__content">난... 7 ㅏ끔... 눈물을 흘린 ㄷ ㅏ .... <br>7 ㅏ끔은 눈물을 참을 수 없는 내가 별루ㄷ ㅏ...</div>
    </div>
    <div class="wrapper__video">
      <div class="video__title">
        <div class="video__title__main">Video</div>
        <div class="video__title__sub">my favorit video 🎵</div>
      </div>
      <div class="video__divider"></div>
      <div class="video__content">
        <iframe src="https://www.youtube.com/embed/F0Fnp8lMybU?si=maJRDJslrcZCzEW5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</body>
</html>