<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jukebox</title>
	<link href="./styles/jukebox.css" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&family=Sunflower:wght@300&display=swap');
	</style>
</head>
<body>
	<div class="wrapper">
		<div class="wrapper__album">
			<div class="album__header">
				<div class="album__header__title">
					<div class="album__header__title__main">추억의 BGM</div>
					<div class="album__header__title__sub">music is my life</div>
				</div>
				<div class="divider"></div>
			</div>
			<div class="album__body">
				<div class="album__body__element">
					<img class="album__body__element__img" src="./images/jukebox-01.png">
					<div class="album__body__element__title">Y(Please Tell Me Why)</div>
					<div class="album__body__element__singer">프리스타일</div>
				</div>
				<div class="album__body__element">
					<img class="album__body__element__img" src="./images/juekbox-02.png">
					<div class="album__body__element__title">눈의 꽃</div>
					<div class="album__body__element__singer">박효신</div>
				</div>
				<div class="album__body__element">
					<img class="album__body__element__img" src="./images/jukebox-03.png">
					<div class="album__body__element__title">사랑했나봐</div>
					<div class="album__body__element__singer">윤도현</div>
				</div>
			</div>
		</div>
		<div class="wrapper__list">
			<div class="list__header">
				<div class="list__header__title">
					<div class="list__header__title__main">추억의 BGM</div>
					<div class="list__header__title__sub">today's music</div>
				</div>
				<div class="divider"></div>
			</div>
			<div class="list__body">
				<table class="list__body__table">
					<thead class="list__body__table__head">
						<tr>
							<th class="table__head__checkbox"><input type="checkbox"></th>
							<th class="table__head__number">번호</th>
							<th class="table__head__title">곡명</th>
							<th class="table__head__artist">아티스트</th>
						</tr>
					</thead>
					<tbody class="list__body__table__body">
						<tr>
							<td class="table__checkbox"><input type="checkbox"></td>
							<td class="table__number">1</td>
							<td class="table__title">보고싶은날엔</td>
							<td class="table__artist">vos</td>
						</tr>
						<tr>
							<td class="table__checkbox"><input type="checkbox"></td>
							<td class="table__number">2</td>
							<td class="table__title">Insomnia</td>
							<td class="table__artist">휘성</td>
						</tr>
						<tr>
							<td class="table__checkbox"><input type="checkbox"></td>
							<td class="table__number">3</td>
							<td class="table__title">심장이 없어</td>
							<td class="table__artist">eight</td>
						</tr>
						<tr>
							<td class="table__checkbox"><input type="checkbox"></td>
							<td class="table__number">4</td>
							<td class="table__title">Love Love Love</td>
							<td class="table__artist">에픽하이</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>
