{% load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style/mode_select.css">
  <link rel="icon" href="/static/assets/images/moon.png">
  <title>SPACE PONG</title>
</head>
<body>
  <div class="mainbox">
    <div class="mainbox__inner">
      <header class="mainbox__header">SPACE PONG</header>
      <div class="mainbox__control-bar">
        <div class="control-bar">
          <div class="control-bar__profile">
              <div class="control-bar__profile__icon">
                <img class="control-bar__profile__icon--logout" src="/static/assets/images/icon_logout.png" alt="logout">
                <img class="control-bar__profile__icon--info" src="/static/assets/images/icon_info.png" alt="logout">
                <img class="control-bar__profile__icon--setting" src="/static/assets/images/icon_setting.png" alt="logout">
              </div>
          </div>
          <div class="control-bar__mode">
            <div class="control-bar__mode__online">
              <div class="mode__online__title">
                <div classs="mode__online__title__divider">
                  <img class="mode__online__title__divider--left" src="/static/assets/images/divider.png">
                </div>
                <div class="mode__online__title__text">online</div>
                <div classs="mode__online__title__divider">
                  <img class="mode__online__title__divider--right" src="/static/assets/images/divider.png">
                </div>
              </div>
              <div class="mode__online__name">
                <div class="mode__online__name--tournament">Tournament</div>
                <div class="mode__online__name--one_to_one">1 vs 1</div>
              </div>
            </div>
            <div class="control-bar__mode__local">
              <div class="mode__local__title">
                <div classs="mode__local__title__divider">
                  <img class="mode__local__title__divider--left" src="/static/assets/images/divider.png">
                </div>
                <div class="mode__local__title__text">local</div>
                <div classs="mode__local__title__divider">
                  <img class="mode__local__title__divider--right" src="/static/assets/images/divider.png">
                </div>
              </div>
              <div class="mode__local__name">
                <div class="mode__local__name--tournament">Tournament</div>
                <div class="mode__local__name--one_to_one">1 vs 1</div>
                <div class="mode__local__name--one_to_one">Single Play</div>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="mainbox__img">
      <img class="mainbox__img--moon" src="/static/assets/images/moon.png" alt="image of moon">
    </div>
    <footer class="mainbox__footer">ft_transcendence</footer>
  </div>
</body>
</html>