body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}
.main-box {
  all: initial;

}
.control-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#art  {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}