body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.btn {
    margin-bottom: 10px; /* 버튼 사이 여유 공간 조정 */
}
.textbox {
    width: 5em;
    height:  2em; /* 4글자에 맞추어 적절한 너비 설정 (예: 1em = 폰트 크기의 너비) */
    font-size: 30px; 
text-align: center
}

.control-bar {
    text-align: center;
}
#timer {
    font-size: 2em;
    color: #333;
}