.control-bar {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
}

.control-bar__type {
  color: white;
}

.round {
  display: flex;
  flex-direction: row;
}

.matchup {
  border: 0.5px solid rgba(255,255,255,0.18);
  text-align: center;
}

.next {
  border: 0.5px solid rgba(27, 197, 46, 0.742);
}

.player {
  color: white;
}

.control-bar__confirm {
  width: 100%;
  height: 15%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.control-bar__confirm__btn--next {
  border: 0.5px solid rgba(255,255,255,0.18);
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.05);
  cursor: pointer;
  width: 100%;
  height: 100%;
  transition: background-color 0.5s ease, box-shadow 0.5s ease, border 0.5s ease, color 0.5s ease;
}

.control-bar__confirm__btn--next:hover {
  background-color: rgba(73, 161, 86, 0.331);
  box-shadow: 0px 0px 12px rgba(38, 162, 75, 0.5);
  border: 0.5px solid rgba(143, 255, 156, 0.678);
  color: rgb(255, 255, 255);
}

@media (max-aspect-ratio: 3/2) {
  .control-bar {
    padding-top: calc(2 * 1.3vw);
    padding-bottom: calc(2 * 1.1vw);
  }

  .control-bar__title {
    font-size: calc(2 * 1vw);
  }

  .control-bar__type {
    font-size: calc(2 * 0.7vw);
  }

  .matchup {
    border-radius: calc(2 * 0.3vw);  
    margin-left:  calc(2 * 0.4vw);
    margin-right: calc(2 * 0.4vw);
    padding: calc(2 * 0.35vw);
  }

  .matchup__type {
    padding-bottom: calc(2 * 0.3vw);
    font-size: calc(2 * 0.7vw);
  }

  .player {
    font-size: calc(2 * 0.5vw);
  }
  .control-bar__confirm {
    padding-left: calc(2 * 1vw);
    padding-right: calc(2 * 1vw);
  }

  .control-bar__confirm__btn--next {
    margin-right: calc(2 * 0.2vw);
    border-radius: calc(2 * 0.5vw);
    font-size: calc(2 * 0.6vw);
  }
}

@media (min-aspect-ratio: 3/2) {
  .control-bar {
    padding-top: calc(3 * 1.3vh);
    padding-bottom: calc(3 * 1.1vh);
  }

  .control-bar__title {
    font-size: calc(3 * 1vh);
  }

  .control-bar__type {
    font-size: calc(3 * 0.7vh);
  }

  .control-bar__icon img {
    width: calc(3 * 3vh);
  }

  .control-bar__confirm {
    padding-left: calc(3 * 1vh);
    padding-right: calc(3 * 1vh);
  }
  .control-bar__confirm__btn--next {
    margin-right: calc(3 * 0.2vh);
    border-radius: calc(3 * 0.5vh);
    font-size: calc(3 * 0.6vh);
  }
}

