@import url('font/montserrat.css');
@import url('reset.css');

* {
  font-family: 'Montserrat', sans-serif !important;
  font-variation-settings: 'wght' 400 !important;
  color: white;
  }
  
body {
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url("../assets/images/earth-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  border: 2px solid white;
  border-radius: 15px;
}


.content__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu__user {
  border: 2px solid white;
  border-radius: 15px;
}

.menu__game {
  border: 2px solid white;
  border-radius: 15px;
}
  
@media (max-aspect-ratio: 16/9) {
  .mainbox {
    width: 90%;
    aspect-ratio: 16/9;
  }
  
  .mainbox__header {
    font-size: 4.5vw;
    margin-top: 3vw;
    margin-left: 3vw;
  }
  
  .mainbox__footer {
    font-size: 2vw;
    margin-bottom: 3vw;
    margin-left: 3vw;
  }
}
/* 화면의 비율이 16:9보다 작을 때 (세로가 더길때)*/

@media (min-aspect-ratio: 16/9) {
  .mainbox {
    height: 90%;
    aspect-ratio: 16/9;
  }
  .mainbox__header {
    font-size: 8vh;
    margin-top: 3vh;
    margin-left: 3vh;
    
  }
  
  .mainbox__footer {
    font-size: 4vh;
    margin-bottom: 3vh;
    margin-left: 3vh;
  }
}
/* 화면의 비율이 16:9보다 더 클 때  (가로가 더 길때)*/
