@import url('font/montserrat.css');
@import url('reset.css');

* {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  height: 100vh;
  background-image: url("../assets/images/earth-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  font-variation-settings: 'wght' 400, 'wdth' 50;
}

.mainbox {
  width: 100%;
  height: 100%;
  border: 1px solid white;
  border-radius: 15px;
}