@import url('font/orbitron.css');
@import url('reset.css');

body {
  /* background image */
  background-image: url("../assets/images/earth-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  /* font */
  font-family: 'orbitron', sans-serif;
  font-variation-settings: 'wght' 700;
  color: whitesmoke;

  /* arrange */
  display: flex;
  justify-content: center;
  align-items: center;

  /* size */
  height: 100vh;
  
}

.mainbox {
  background-color: rgb(255,255,255,0.3);

  border: 3px solid rgb(178, 177, 185);
  border-radius: 15px;
  box-sizing: border-box;
  position: relative;
}

.mainbox__header {
  letter-spacing: 0.2em;
}
.mainbox__inner {
  /*background-color: aqua;*/

  /* size */
  width: 100%;
  height: 100%;

  /* arrange */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.control-bar__login {
  background-color: rgb(255,255,255,0.3);
  border: 2px solid white;
  border-radius: 15px;

  /* arrange */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* shadow */
  box-shadow: 4px 4px 5px 3px rgb(79, 79, 79);
}

.control-bar__login__btn {
  background-color: green;

  border: 1px solid green;
  border-radius: 15px;

  text-align: center;
  /* vertical-align: middle; */

  /* arrange */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* shadow */
  box-shadow: 4px 4px 5px 3px rgb(79, 79, 79);

}

.mainbox__img {
  position: absolute;
  top: 20%;
  left: 42%;
}

/* 화면의 비율이 3:2보다 작을 때 (세로가 더길때) */
@media (max-aspect-ratio: 3/2) {
  .mainbox {
    aspect-ratio: 3/2;
    width: 90%;
    padding: 3vw;

    border: 0.25vw solid rgb(178, 177, 185);
    border-radius: 1.8vw;
  }

  .mainbox__header {
    font-size: 4.5vw;
  }

  .mainbox__footer {
    font-size: 2vw;
  }

  .control-bar__login {
    width: 20vw;
    aspect-ratio:  16/9;

    margin-top: -10vw;
    border-radius: 1.8vw;
  }

  .control-bar__login__btn {
    width: 70%;
    height: 34%;

    font-size: 2.5vw;

    border-radius: 1.8vw;
  }

  .mainbox__img--moon {
    width: 40vw;
    aspect-ratio: 1/1;
  }
}

/* 화면의 비율이 3:2보다 클 때 (가로가 더길때) */
@media (min-aspect-ratio: 3/2) {
  .mainbox {
    aspect-ratio: 3/2;
    height: 90%;
    padding: 3vh;

    border: 0.5vh solid rgb(178, 177, 185);
    border-radius: 1.8vh;
  }

  .mainbox__header {
    font-size: 8vh;
  }

  .mainbox__footer {
    font-size: 4vh;
  }

  .control-bar__login {
    height: 20vh;
    aspect-ratio: 16/9;

    margin-top: -15vh;
    border-radius: 2vh;
  }

  .control-bar__login__btn {
    width: 70%;
    height: 30%;
    font-size: 3vh;
  }

  .mainbox__img--moon {
    aspect-ratio: 1/1;
    height: 70vh;
  }
}