@import url('font/montserrat.css');
@import url('reset.css');

* {
  font-family: 'Montserrat', sans-serif !important;
  font-variation-settings: 'wght' 400 !important;
  color: white;
  }
  
body {
  height: 100vh;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-image: url("../assets/images/earth-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.mainbox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  border: 2px solid white;
  border-radius: 15px;
}

.mainbox__header {
  background-color: blue;
}

.mainbox__content {
  
  flex-grow: 1;
  background-color: aqua;
}

/*.content__menu {
  width: calc(100%-2em);
  height: 30em;
  margin: 2em 2em;
  background-color: aqua;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}*/

.menu__user {
  border: 2px solid white;
  border-radius: 15px;
}

.menu__game {
  border: 2px solid white;
  border-radius: 15px;
}

.mainbox__footer {
  background-color: brown;
}
@media (max-aspect-ratio: 16/9) {
  .mainbox {
    width: 90%;
    aspect-ratio: 16/9;
  }
  .mainbox__header {
    margin-top: 3vw;
    margin-right: 3vw;
    margin-left: 3vw;

    font-size: 4.5vw;
  }
  .mainbox__footer {
    margin-top: 3vw;
    margin-right: 3vw;
    margin-left: 3vw;
    
    font-size: 2vw;
  }
  
  .content__menu {
    /*width: 90%;
    aspect-ratio: 16/9;
    margin: 3vw 3vw;*/
  }
  /*.menu__user {
  }
  .menu__game {
    margin: 3vw 3vw;
  }*/
/* 화면의 비율이 16:9보다 작을 때 (세로가 더길때)*/

@media (min-aspect-ratio: 16/9) {
  .mainbox {
    height: 90%;
    aspect-ratio: 16/9;
  }
  .mainbox__header {
    margin-top: 3vh;
    margin-right: 3vh;
    margin-left: 3vh;
    /*margin: 3vh 3vh;*/

    font-size: 8vh;
    
  }
  .mainbox__footer {
    margin-top: 3vh;
    margin-right: 3vh;
    margin-left: 3vh;

    font-size: 4vh;
  }

  .content__menu {
  }
}
/* 화면의 비율이 16:9보다 더 클 때  (가로가 더 길때)*/